<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Szczegóły</title>
</head>
<body>
    <b>Szczegółowe informacje o pracowniku</b>
    <table border>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Płaca</th>
            <th>Opis stanowiska</th>
        </tr>

        <tr>
            <td>{{pracownik.imie}}</td>
            <td>{{pracownik.nazwisko}}</td>
            <td>{{pracownik.placa}}</td>
            <td>{{pracownik.opis_stanowiska}}</td>
        </tr>

    </table>
</body>
</html>